body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.gold-color{
    color: gold;
}
section{
    display: flex;
}
.half-width{
    width:50%
    
}
.half-width{
    padding-left: 10%;
}
.half-width img{
    width:65%
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 40px
    
}
.link-button{
    border-radius: 5px;
    color: black;
    font-weight: 400;
}
#mission-22{
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    
    
}


    


